<ul class="mt-4 nav">
  <li class="nav-item">
    <a routerLink="properties" routerLinkActive="active" class="nav-link btn-pills">Property List</a>
  </li>
  <li class="nav-item">
    <a routerLink="add-property" routerLinkActive="active" class="nav-link btn-pills">Add Property</a>
  </li>
  <li class="nav-item">
    <a routerLink="view-bookings" routerLinkActive="active" class="nav-link btn-pills">View Bookings</a>
  </li>
</ul>


<!-- <nav class="navbar navbar-expand-sm navbar-dark second-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item role-item">Seller Dashboard</li>
        <li class="nav-item">
          <a routerLink="properties" routerLinkActive="active" class="nav-link custom-link">Property List</a>
        </li>
        <li class="nav-item">
          <a routerLink="add-property" routerLinkActive="active" class="nav-link custom-link">Add Property</a>
        </li>
        <li class="nav-item">
          <a routerLink="view-bookings" routerLinkActive="active" class="nav-link custom-link">View Bookings</a>
        </li>
      </ul>
    </div>
    <div class="justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-danger my-2 my-sm-0" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="properties" routerLinkActive="active" class="nav-link">Property List</a>
        </li>
        <li class="nav-item">
          <a routerLink="add-property" routerLinkActive="active" class="nav-link">Add Property</a>
        </li>
        <li class="nav-item">
          <a routerLink="view-bookings" routerLinkActive="active" class="nav-link">View Bookings</a>
        </li>
      </ul>
    </div>
    <div class="justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-danger my-2 my-sm-0" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    </div>
  </nav> -->
  
  
  <!-- <div style="margin-top: 30px;"></div> -->
  
<!-- Main Container -->
<!-- <div class="container mt-4"> -->
  <div>
    <!-- <h1 class="text-center">Seller</h1> -->
    <router-outlet></router-outlet>
  </div>
