/* Styles for the second navbar */
.second-navbar {
    background-color: #343a40;
    margin-top: -15px;
    width: 100%;
}

.navbar-nav {
    margin-left: 25px;
}

.role-item {
    color: #ffffff;
    margin-top: 7px;
    font-size: 24px;
}

.second-navbar .nav-link {
    color: #f99b18; /* Font color for nav links */
    margin-left: 100px;
}

.second-navbar .nav-link:hover {
    color: #e68a16; /* Optional: hover state color for nav links */
}

/* Adjust spacing between nav items */
.second-navbar .nav-item {
    margin-right: 20px; /* Adjust this value as needed */
}

.second-navbar .nav-item:last-child {
    margin-right: 0; /* Ensure the last item doesn't have extra right margin */
}
