/* .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  .text-center {
    text-align: center;
  }
  
  .my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .btn {
    padding: 5px 10px;
  } */