<div class="container home-page">
  <div class="row">
    <div class="col-md-8">
      <div class="content">
        <h1 class="display-5 title mb-4">Discover Your Dream Home with Ease</h1>
        <p class="subtitle">Where comfort meets convenience</p>
        <a routerLink="/easyhouse/login" class="btn btn-home-page mr-2">Login</a>
        <a routerLink="/easyhouse/register" class="btn btn-home-page ml-2">Register</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-image-container">
        <img src="images/home-page-image8.png" alt="Home Image" class="img-fluid home-image">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
