<!-- <style>
  .align-right {
    margin-left: auto;
  }
</style> -->

<!-- Updated Navbar -->
<div class="container">
  <ul class="mt-4 nav">
    <li class="nav-item">
      <a class="nav-link btn-pills" routerLink="users" routerLinkActive="active">Users List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-pills" routerLink="create-user" routerLinkActive="active">Add User</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="create-admin" routerLinkActive="active">Add Admin</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link btn-pills" routerLink="properties" routerLinkActive="active">Properties List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-pills" routerLink="bookings" routerLinkActive="active">Bookings List</a>
    </li>
  </ul>
</div>

<!-- Main Container -->
<div>
  <!-- <h1 class="text-center">Admin</h1> -->
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<!-- <footer class="footer mt-auto py-3">
  <div class="container text-center">
    <span>&copy; 2024 Admin Portal. All rights reserved.</span>
  </div>
</footer> -->