<!-- <h2 class="text-center my-4">User List</h2> -->

<div *ngIf="loading" class="text-center">
  <p>Loading...</p>
</div>

<div *ngIf="!loading && !error">
  <table class="mt-4 table general-table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>User Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="text-center">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.userRole }}</td>
        <td class="text-center">
          <div class="d-flex justify-content-center">
            <button *ngIf="user.id" (click)="userDetails(user.id!)" class="btn btn-outline-primary btn-sm ">View</button>
            <button *ngIf="user.id" (click)="updateUser(user.id!)" class="btn btn-outline-warning btn-sm ml-2">Update</button>
            <button *ngIf="user.id" (click)="deleteUser(user.id!)" class="btn btn-outline-danger btn-sm ml-2">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="error" class="text-center text-danger">
  <p>{{ error }}</p>
</div>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span>&copy; 2024 EasyHouse Portal. All rights reserved.</span>
  </div>
</footer>
